@model PathFinder.Data.Models.CharClass.CharClass

<div class="col-md-9 col-xl-8 py-md-5 pl-md-5 bd-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>@Model.Name</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>@Model.Description</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <strong>Роль: </strong>
                    @Model.Role
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <strong>Доступные мировоззрения: </strong>
                    <em>
                        @if (Model.ClassAlignments != null)
                        {
                            @for (var i = 0; i < Model.ClassAlignments.Count; i++)
                            {
                                var alignment = Model.ClassAlignments[i].Alignment.Name;
                                @alignment
                                if (i != Model.ClassAlignments.Count - 1)
                                {
                                    <text>; </text>
                                }
                                else
                                {
                                    <text>.</text>
                                }
                            }
                        }
                    </em>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <strong>HD: </strong>
                    @Model.HitDice
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    <strong>Начальное снаряжение: </strong>
                    @Model.StartingWealth
                </p>
            </div>
        </div>

    </div>
</div>